{% load static %}

<html lang="en">

<head>
    <meta charset="UTF-8" />
    <title>Connexion</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/test.css' %}" />
</head>

<body>
    <h1>Evaluation de {{data.studentName}}</h1>
    <p>{{data}}</p>

    <form action="/sendBDD/" method="POST">
        {% csrf_token %}
        <input hidden name='studentID' type="text" value="{{data.studentID}}"> {% for comp in data.compListe %}
        <div>
            <p>{{comp.competence.name}}</p>
            <select name="comp_{{comp.competence.id}}" id="comp-select" required>
                <option value="" hidden disabled selected>--Choisir une option--</option>
                <option value="false">Non validé</option>
                <option value="true">validé</option>
            </select>
            <br>
            <textarea name="comp_{{comp.competence.id}}_com"></textarea>
        </div>
        
        {% endfor %}
        
        
        <input type="hidden" name="keyId" value="{{ data.keyId }}">
        <button type="submit">Valider</button>
    </form>

</body>

</html>