{% load static %} 

<!-- {% if msg %}
<script>
  alert("{{msg}}");
</script>
{% endif %} -->

<html lang="en">
  
  <head>
    <meta charset="UTF-8" />
    <title>Connexion</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link rel="stylesheet" type="text/css" href="{% static 'css/test.css' %}" />
  </head>

  <body>
    <h1>Titre professionnel</h1>
    <form action="/addStudent/" method="post">
      {% csrf_token %}
      <label for="student">Ajouter un élève:</label>
      <br />
      <input type="text" name="student" id="student" required></input>
      <br />
      <input type="submit" value="Valider" />
    </form>

    
    {% for eleve in studentList %}
    <div>
     <form action="/eval/" method="post">
      {% csrf_token %}
       <span>{{ eleve.student.name }}</span>
       <input type="hidden" name="keyId" value="{{ eleve.key }}">
       <input type="hidden" name="id" value="{{ eleve.student.id }}">
       <input type="hidden" name="name" value="{{ eleve.student.name }}">
       <input type="submit" value="évaluer" />
     </form>
    </div>
    {% endfor %}
    
    {{ studentList }}
  </body>
</html>
